.DS_Store
log/*
tmp/**/*
config/database.yml
config/deploy.rb
config/environments/development.rb
*.swp
public/attachments/**/*
public/user_files
public/stylesheets
nbproject
db/sphinx
db/schema.rb
config/initializers/site_keys.rb
