/* Sticky Footer by Ryan Fait */
/* http://ryanfait.com/ */
* {
  margin: 0; }

body {
  text-align: center; }

html, body {
  height: 100%;
  background: #fff; }

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 40px;
  text-align: center; }

#footer, #push {
  clear: both;
  /* #push must be the same height as #footer */
  height: 40px; }

#masthead, #content, #search-container {
  width: 900px;
  margin: auto;
  text-align: left; }

#content-main {
  width: 700px;
  margin-top: 20px; }

#side-bar {
  width: 200px;
  float: right;
  text-align: right; }

#search-bar {
  background-color: #ffc701;
  padding: 8px 0; }

#search-container {
  text-align: right; }

#masthead {
  height: 70px;
  position: relative; }

#tag-line, #logo {
  position: absolute;
  bottom: 0px; }

#tag-line {
  right: 0;
  font-size: 0.9em;
  line-height: 0.9em; }
